body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat';
  color: #fff;
}

/* body {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 64%,
    rgba(0, 0, 0, 0.7102242264093137) 100%
  );
} */
* {
  box-sizing: border-box;
}
body > #app {
  width: 100%;
  height: 100%;
}
